﻿@model CompanyName.Sklep.Services.Models.CreateUserViewModel

<div class="container" style="margin-top: 10px;">
    @using (Html.BeginForm("Create", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <label class="col-md-6 control-label">
                    @Html.DisplayNameFor(model => model.Login)
                </label>
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Country)
                </label>
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Password)
                </label>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.City)
                </label>
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.FirstName)
                </label>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.AddressLine1)
                </label>
                @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.LastName)
                </label>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.AddressLine2)
                </label>
                @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.SelectedRole)
                </label>
                @foreach (var role in Model.Roles)
                {
                    if (role.Id == Model.SelectedRole)
                    {
                        <input type="radio" name="SelectedRole" value="@role.Id" checked /> @role.Name
                    }
                    else
                    {
                        <input type="radio" name="SelectedRole" value="@role.Id" /> @role.Name
                    }
                }
                @Html.ValidationMessageFor(model => model.SelectedRole, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.Message)
            </div>
        </div>

        <div class="row">
            <div>
                <input type="submit" value="Save" class="btn btn-info" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>