﻿@model CompanyName.Sklep.Services.Models.EditUserViewModel

<div class="container" style="margin-top: 10px;">
    @using (Html.BeginForm("Edit", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Login)

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">
                            @Html.DisplayNameFor(model => model.Id)
                        </label>
                        @Html.DisplayFor(model => model.Id, new { htmlAttributes = new { @class = "form-control-static" } })
                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">
                            @Html.DisplayNameFor(model => model.Login)
                        </label>
                        @Html.DisplayFor(model => model.Login, new { htmlAttributes = new { @class = "form-control-static" } })
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Country)
                </label>
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.FirstName)
                </label>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.City)
                </label>
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.LastName)
                </label>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.AddressLine1)
                </label>
                @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.SelectedRole)
                </label>
                @foreach (var role in Model.Roles)
                {
                    if (role.Id == Model.SelectedRole)
                    {
                        <input type="radio" name="SelectedRole" value="@role.Id" checked /> @role.Name
                    }
                    else
                    {
                        <input type="radio" name="SelectedRole" value="@role.Id" /> @role.Name
                    }
                }
                @Html.ValidationMessageFor(model => model.SelectedRole, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.AddressLine2)
                </label>
                @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-info" })
            </div>
        </div>

        <div class="row">
            <div>
                <input type="submit" value="Save" class="btn btn-info" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>