﻿@model CompanyName.Sklep.Services.Models.UsersListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<div>
    @Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary" })
</div>
<div>
    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
</div>

@if (Model.Items.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Items.First().Id)</th>
                <th>@Html.DisplayNameFor(model => model.Items.First().Login)</th>
                <th>@Html.DisplayNameFor(model => model.Items.First().FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.Items.First().LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Items.First().Address)</th>
                <th>@Html.DisplayNameFor(model => model.Items.First().Role)</th>
                <th>@Html.DisplayNameFor(model => model.Items.First().Created)</th>
                <th>@Html.DisplayNameFor(model => model.Items.First().LastLogin)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Login</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Address</td>
                    <td>@item.Role</td>
                    <td>@item.Created</td>
                    <td>@item.LastLogin</td>
                    <td>
                        @using (Html.BeginForm("Delete", "User", new { id = item.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ActionLink("Edit", "Edit", new { @id = item.Id }, new { @class = "btn btn-info" })
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No users in system</h3>
}