﻿@model String
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Articles <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Show all", "Index", "Article")</li>
                        <li>@Html.ActionLink("Create new", "Create", "Article")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Users <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Show all", "Index", "User")</li>
                        <li>@Html.ActionLink("Create new", "Create", "User")</li>
                    </ul>
                </li>
            </ul>
            @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <input type="submit" value="Logout from: @Model" class="btn btn-warning" />
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>