﻿@model CompanyName.Sklep.Services.Models.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html style="height: 98%">
<head>
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body style="height: 100%">
    <div>
        <center><h3>Predefined test accounts:</h3></center>
        <div>
            <div class="col-md-offset-3 col-md-4">
                <label>ADMIN</label>
                <div>
                    <label>Login: admin</label>
                </div>
                <div>
                    <label>Password: admin</label>
                </div>
            </div>
            <div class="col-md-4">
                <label>USER</label>
                <div>
                    <label>Login: user</label>
                </div>
                <div>
                    <label>Password: user</label>
                </div>
                <div>
                    <label>Can't be logged into system... but admin can :)</label>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="display: table; height: 100%; width: 100%;">
        <center class="row" style="display: table-cell; vertical-align:middle;">
            <div class="text-center col-md-4 col-md-offset-4">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <h2>Login into system</h2>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ReturnUrl)

                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Login)
                            @Html.EditorFor(x => x.Login, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.Login, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Password)
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            @Html.ValidationMessageFor(x => x.Message, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <input type="submit" class="form-control btn-success" value="Submit creadentials"/>
                        </div>
                    </div>
                }
            </div>
        </center>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</body>
</html>
