﻿@model CompanyName.Sklep.Services.Models.CreateArticleViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Article", FormMethod.Post))
{
    <div class="row body-content" style="margin-top: 20px;">
        @Html.AntiForgeryToken()
        <div class="col-md-5">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">
                            @Html.DisplayNameFor(model => model.Name)
                        </label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">
                            @Html.DisplayNameFor(model => model.Price)
                        </label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">
                            @Html.DisplayNameFor(model => model.AvailableCount)
                        </label>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.AvailableCount, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.AvailableCount, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">
                        @Html.DisplayNameFor(model => model.Description)
                    </label>
                </div>
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Description, 5, 5, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div>
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("To list", "Index", "Article", null, new { @class = "btn btn-default" })
    </div>
}