﻿@model CompanyName.Sklep.Services.Models.EditArticlePriceViewModel

@{
    ViewBag.Title = "Edit Price";
}

<div class="container" style="margin-top: 10px;">
    @using (Html.BeginForm("EditPrice", "Article", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.OldPrice)
        @Html.HiddenFor(model => model.Name);

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-5 control-label">
                        @Html.DisplayNameFor(model => model.Id)
                    </label>
                    @Html.DisplayFor(model => model.Id, new { htmlAttributes = new { @class = "form-control-static" } })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.Name)
                    </label>
                    @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control-static" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-5 control-label">
                        @Html.DisplayNameFor(model => model.OldPrice)
                    </label>
                    @Html.DisplayFor(model => model.OldPrice, new { htmlAttributes = new { @class = "form-control-static" } })
                    @Html.ValidationMessageFor(model => model.OldPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        @Html.DisplayNameFor(model => model.Price)
                    </label>
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-info" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>