﻿@model CompanyName.Sklep.Services.Models.ArticlesListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Articles</h2>

<div>
    @Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary" })
</div>

@if (Model.Items.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Items.First().Id)</th>
                <th>@Html.DisplayNameFor(model => model.Items.First().Name)</th>
                <th>@Html.DisplayNameFor(model => model.Items.First().Description)</th>
                <th>@Html.DisplayNameFor(model => model.Items.First().AvailableCount)</th>
                <th>@Html.DisplayNameFor(model => model.Items.First().Price)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.AvailableCount</td>
                    <td>@item.Price</td>
                    <td>
                        <div>
                            @using (Html.BeginForm("Delete", "Article", new { id = item.Id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ActionLink("Edit price", "EditPrice", new { @id = item.Id }, new { @class = "btn btn-info" })
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
}
else
{
    <div><h3>No elements in table</h3></div>
}